<script type="text/javascript">
    function sendClick(toast) {
        android.performBuyNowClick(toast);
    }
</script>
<div class="button_section" >
    <a id="buyNow" onclick="sendClick('clicked')" style="float:right;">
        <img src="###button_image###" width="90" height="28" />
    </a>

</div>
