<script type="text/javascript">
    function sendClick(toast) {
        android.performBuyNowClick(toast);
    }
</script>
<div class="button_section" style="float:right;">
    <span style="float:right;">
        <img src="###button_image###" width="90" height="28" /> <br />
        <h5 style="width:90px; float:left; text-align:center; display:block; ">
            <span style="width:90px; float:right; text-align:center;font-size:10px; line-height:12px; color:#9e4242;">###sold-out###</span>
        </h5>
    </span>
</div>
